.sectionContacto{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}


fieldset{
    width: 500px;
    height: 450px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

legend{
    font-family: sacramento;
    font-size: 70px;
    color: #FFA5AB;
    text-shadow: 3px 3px 5px black;
    text-align: center;
}