$primary-color: #cbe3ec;
$secondary-color: #FFA5AB;
$third-color: #320E3B;
$palette: (
    'primary': #cbe3ec,
    'secondary': #FFA5AB,
    'third': #320E3B
);
$primary-font: montserrat;
$title-font: sacramento;
$c_0: #000000;
$c_1: #353540;
